<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Realive Equipped Youth Manual</title>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <span class="uk-visible@s">{{- partial "header.html" . -}}</span>
    
    {{- partial "navigation.html" . -}}

    <!-- Header Image -->
    <div class="uk-cover-container uk-width-1-1 uk-height-large">
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-center">
            <!-- Mobile Navigation -->
            <div class="uk-position-top uk-overlay uk-padding-remove single-post-nav-button uk-hidden@s">
              <img class="uk-navbar-toggle navbutton white-nav-button uk-hidden@s" data-uk-toggle href="#offcanvas-nav"  data-src="{{.Site.BaseURL}}/img/Navigation.svg" width="60px" height="60px" alt="Navigate" uk-img>
            </div>
		</div>
			<img class="zoomed uk-hidden@m" data-src="{{.Site.BaseURL}}/uploads/blue-seascape.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
        	<img class="uk-visible@m" data-src="{{.Site.BaseURL}}/uploads/blue-seascape.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
        </div>

    <div class="uk-align-center uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-margin-remove-top uk-flex uk-flex-bottom single-content-container">
        <div class="page-title position-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
			<!-- Page Title -->
			{{ $title := .Title }}
			{{ if eq $title "youth"}}
				{{ $title = print $title " Group" }}
			{{ else if eq $title "Categories"}}
				{{ $title = print "Resource Categories" }}
			{{ else }}
				{{ $title = print (humanize $title) " your Faith" }}
			{{ end }}
			<h1 class="uk-margin-top uk-text-center uk-margin-small-bottom uk-margin-remove-adjacent white uk-heading-medium">{{$title}}</h1>
        </div>
    </div>
	
	<!--CONTENT-->
    <div class="uk-section uk-section-default">
		<div class="uk-container">
			<div class="uk-grid uk-text-center" data-ukgrid>
				<div class="uk-width-2-4@m">
					{{- .Content -}}
					{{ if ne $title "Resource Categories" }}
						{{ range where .Pages "Type" "in" site.Params.mainSections}}
							{{- partial "content_types.html" . -}}
						{{ end }}
					{{ else }}
						<div class="uk-child-width-expand@s uk-text-center button-grid-container" uk-grid>
							<div class="uk-grid-column-small uk-grid-row-large uk-child-width-2-4@s uk-text-center" uk-grid>
								<div>
									<button onclick="location.href='{{.Site.BaseURL}}/categories/share'" class="uk-button uk-button-default uk-width-1-1 border-rounded category-button">
										Share
									</button>
								</div>
								<div>
									<button onclick="location.href='{{.Site.BaseURL}}/categories/encourage'" class="uk-button uk-button-default uk-inline uk-width-1-1 border-rounded category-button">
										Encourage
									</button>
								</div>
							</div>
							<div class="navbutton-spacer"></div>
							<div class="uk-grid-column-small uk-grid-row-large uk-child-width-2-4@s uk-text-center uk-margin-remove-top" uk-grid>
								<div>
									<button onclick="location.href='{{.Site.BaseURL}}/categories/explain'" class="uk-button uk-button-default uk-width-1-1 border-rounded category-button">
										Explain
									</button>
								</div>
								<div>
									<button onclick="location.href='{{.Site.BaseURL}}/categories/deepen'" class="uk-button uk-button-default uk-width-1-1 border-rounded category-button">
										Deepen
									</button>
								</div>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
	<!--/CONTENT-->

	{{ block "footer" . }}{{ end }}
	{{- partial "mobilenav.html" . -}}
	{{- partial "offcanvas.html" . -}}
	{{- partial "footer.html" . -}}

	<script>
	if (window.netlifyIdentity) {
	window.netlifyIdentity.on("init", user => {
		if (!user) {
		window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		});
		}
	});
	}
	</script>
</body>
</html>
