<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Realive Equipped Youth Manual</title>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <span class="uk-visible@s">{{- partial "header.html" . -}}</span>
    
    {{- partial "navigation.html" . -}}

    <!-- Header Image -->
    <div class="uk-cover-container uk-width-1-1 uk-height-large">
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-center">
            <!-- Mobile Navigation -->
            <div class="uk-position-top uk-overlay uk-padding-remove single-post-nav-button uk-hidden@s">
              <img class="uk-navbar-toggle navbutton white-nav-button uk-hidden@s" data-uk-toggle href="#offcanvas-nav"  data-src="{{.Site.BaseURL}}/img/Navigation.svg" width="60px" height="60px" alt="Navigate" uk-img>
            </div>
        </div>
        <img class="uk-hidden@m" data-src="{{.Site.BaseURL}}/uploads/blue-landscape.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
        <img class="uk-visible@m" data-src="{{.Site.BaseURL}}/uploads/blue-landscape.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
    </div>

    <div class="uk-align-center uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-margin-remove-top uk-flex uk-flex-bottom single-content-container">
        <div class="page-title position-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
            <!-- Page Title -->
            <h1 class="uk-margin-top uk-text-center uk-margin-small-bottom uk-margin-remove-adjacent white uk-heading-medium">{{.Title}}</h1>
        </div>
    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid" data-ukgrid>
                <!-- Form -->
                <div class="uk-width-2-3@m">
                    <article class="uk-section uk-section-small uk-padding-remove-top">
                        {{.Content}}
                    </article>
                </div>
                
                <!-- Contact -->
                <div class="uk-width-1-3@m">
                    <h4 class="uk-heading-line uk-text-bold" style="text-align:center">
                        <a class="uk-text-secondary" href="{{.Site.BaseURL}}/contact"><span>Additional Contact</span></a>
                    </h4>
                    <div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
                        Email: <a href="mailto:youthpastors@ccnz.org.nz">youthpastors@ccnz.org.nz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    {{ block "footer" . }}{{ end }}
    {{- partial "mobilenav.html" . -}}
    {{- partial "offcanvas.html" . -}}
    {{- partial "footer.html" . -}}

    <script>
    if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
        if (!user) {
        window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
        });
        }
    });
    }
    </script>
</body>
</html>