<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Equipped Youth Manual</title>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/content.css" type="text/css"/>
</head>
<body>
    <!-- Default Desktop Header -->
    <span class="uk-visible@s">{{- partial "header.html" . -}}</span>
    
    {{- partial "navigation.html" . -}}

    <!-- Custom Mobile Header -->
    <div class="uk-cover-container uk-width-1-1 uk-height-large">
        <!-- Logo -->
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-left">
            <div class="uk-position-top uk-overlay uk-padding-remove single-post-nav-button uk-hidden@s">
                <a href="{{.Site.BaseURL}}" title="Logo">
                    <img class="uk-logo uk-hidden@l" alt="Logo" height=36px width=36px src="{{.Site.BaseURL}}img/icons/icon-72x72.png">
                </a>
            </div>
        </div>
        <!-- Backgound Image -->
        <img class="zoomed uk-hidden@m" data-src="{{.Site.BaseURL}}/uploads/drums.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
        <img class="uk-visible@m" data-src="{{.Site.BaseURL}}/uploads/drums.jpg" width="100%" height="100%" alt="{{.Title}}" uk-img uk-cover>
    </div>

    <!-- Page Title Container -->
    <div class="uk-align-center uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-margin-remove-top uk-flex uk-flex-bottom single-content-container">
        <div class="content-title" data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
            <!-- Categories -->
            <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small single-post-categories small-shadow">
                <span class="black">{{ humanize .Params.categories }}</span>
            </div>
            <!-- Page Title -->
            <h1 class="uk-margin-top uk-text-left uk-margin-small-bottom uk-margin-remove-adjacent white">{{.Title}}</h1>
        </div>
        
        <!-- Save Button -->
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small uk-border-circle uk-overlay single-post-save small-shadow" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
            <img class="uk-image" href="#" data-src="{{.Site.BaseURL}}/img/Save.svg" width="30px" height="30px" alt="Save" uk-img>
        </div>
    
        <!-- Share Button -->
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small uk-border-circle single-post-share small-shadow">
            <img class="uk-image" href="#" data-src="{{.Site.BaseURL}}/img/Share.svg" width="30px" height="30px" alt="Share" uk-img>
        </div>
    </div>

    <!-- Page Content -->
    <div class="uk-section uk-section-default uk-padding-remove-top">
        <div class="uk-container">
            <div class="uk-grid uk-align-center position-center" data-ukgrid>
                <!-- Song -->
                <div class="uk-section uk-section-small uk-text-center audio-track-container">  
                    <iframe title="{{.Title}}" src={{ replace .Params.link "track" "embed/track" }} width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>   
                </div>

                <!-- Lyrics -->
                <div class="uk-text-center uk-padding-remove-left">                   
                {{ if (in .Params.lyrics "https://www.musixmatch.com/lyrics") }}
                    <iframe title="{{.Title}}" class="song-lyrics" src="{{.Params.lyrics}}/embed?theme=light" border=0></iframe>
                {{ else if (isset .Params "lyrics") }}
                    {{ .Params.lyrics }}
                {{ end }}
                </div>
            </div>
        </div>
    </div>
            
    {{ block "footer" . }}{{ end }}
    {{- partial "mobilenav.html" . -}}
    {{- partial "offcanvas.html" . -}}
    {{- partial "footer.html" . -}}

    <!-- Netlify Identity -->
    <script>
    if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
        if (!user) {
        window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
        });
        }
    });
    }
    </script>
</body>
</html>