@media (max-width: 450px) {
    #page-title {
        width: 70%;
    }

    #offcanvas-nav li {
        padding-left: 5px;
    }

    .small-post-width {
        width: 100% !important;
    }

    .verse-inside-padding p {
        margin-top: -20px;
    }

    .video-width {
        width: 100% !important;
    }

    .testimony-width {
        width: 100%;
    }

    .testimony-image {
        height: 1000px;
    }

    .save {
        margin-left: 65%;
    }

    .share {
        margin-left: calc(65% + 35px);
    }
}

@media (min-width: 450px) and (max-width: 640px) {
    #page-title {
        width: auto;
    }

    #offcanvas-nav li {
        padding-left: 5px;
    }

    .small-post-width {
        width: 100% !important;
    }

    .verse-inside-padding p {
        margin-top: 0px;
    }

    .video-width {
        width: 100% !important;
    }

    .testimony-width {
        width: 100%;
    }

    .testimony-image {
        height: 1000px;
    }

    .save {
        margin-left: 75%;
    }

    .share {
        margin-left: calc(75% + 35px);
    }
}

@media (min-width: 640px) {
    #page-title {
        width: auto;
    }

    #offcanvas-nav li {
        padding-left: 20px;
    }

    .small-post-width {
        width: 49% !important;
    }

    .verse-inside-padding p {
        margin-top: -10px;
    }

    .video-width {
        width: 70% !important;
    }

    .testimony-width {
        width: 80%;
    }

    .testimony-image {
        height: 1000px;
    }

    .save {
        margin-left: 73%;
    }

    .share {
        margin-left: calc(73% + 35px);
    }
}

@media (min-width: 960px) {
    .video-width {
        width: 49% !important;
    }

    .testimony-width {
        width: 49%;
    }

    .save {
        margin-left: 80%;
    }

    .share {
        margin-left: calc(80% + 35px);
    }
}

#page-title {
    text-align: center
}

.uk-navbar-toggle img, svg {
    -webkit-filter: brightness(0) saturate(100%);
    filter: brightness(0) saturate(100%);
}

.navbutton {
    right: unset;
    -webkit-filter: brightness(0);
    filter: brightness(0);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#offcanvas-nav .uk-nav-header {
    padding-top: 8px;
    height: 50px;
}

#mobilenav {
    background-color: white;
}

#mobile-nav-close {
    margin-top: 4px;
    width: 40px !important;
}

#mobile-nav-footer {
    padding: 30px !important;
}

#mobile-nav-instagram {
    padding-right: 30px;
}

#offcanvas-nav li a{
    color: black !important;
}

#fixedBottomNav {
    background-color: white !important;
}

#privacy-link, #copyright {
    display:inline-block;
    color: black !important;
    font-size: .8rem !important;
    line-height: 1.5 !important;
}

.white-background {
    background-color: white !important
}

.verse-inside-padding {
    padding: 18px;
}

.border-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; 
    border-radius: 20px;
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;
}

.post-header {
    margin-bottom: -8px !important;
    margin-left: 5px;
}

.black {
    color:black !important;
}

.white {
    color: white !important;
}

.content-spacing {
    margin: 0px 5px;
}

.no-top-margin {
    margin-top: 0px;
}

.verse-container .category {
    margin-top: 0px;
}

.large-bottom-margin {
    margin-bottom: 150px;
}

.category {
    z-index: 10;
    position: absolute;
    color: black;
    padding: 0;
    margin-top: -16px;
    margin-left: 34px;
    background-color: white;
    border-radius: 10px;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
}

.content-section {
    vertical-align: top;
    margin-bottom:60px !important;
}

.content-section .uk-container {
    height: 100%;
    border-radius: 20px;
}

.reference {
    z-index: 10;
    position: absolute;
    color: black;
    padding: 0;
    margin-top: -20px;
    margin-left: 17px;
    border-radius: 10px;
    padding: 1.5px 8px;
}

.testimony-header {
    z-index: 10;
    margin-top: -16px;
    background-color: transparent;
}

.question-post-height {
    height: 91px;
}

.save {
    z-index: 10;
    position: relative;
    padding: 0;
    margin-top: -16px;
    background-color: white;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    width: 12px;
}

.share {
    z-index: 10;
    position: relative;
    padding: 0;
    margin-top: -27px;
    background-color: white;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    width: 12px;
}

.share img, .save img {
    height: 16.6px;
}

.share div {
    margin-left: -4px;
}

.fadeout {
    position: absolute;
    bottom: 0em;
    height: 6em;
    width: 100%;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}