/* Media Queries */

@media (max-width: 450px) {
    #page-title {
        width: 80%;
    }

    .content-title {
        max-width: 70%;
    }

    #offcanvas-nav li {
        padding-left: 5px;
    }

    .small-post-width {
        width: 100% !important;
    }

    .verse-inside-padding p {
        margin-top: -20px;
    }

    .song-lyrics {
        width: 100%;
        padding-right: 0px;
    }

    .video-width {
        width: 100% !important;
    }

    .testimony-width, .article-width {
        width: 100%;
    }

    .testimony-image, .article-image {
        height: 1000px;
    }

    .navbutton-spacer {
        display: block;
        margin-top: 30px;
    }

    .button-grid-container {
        margin-left: 0 !important;
    }

    .error-page-title {
        top: 15vh;
    }

    .save {
        margin-left: 65%;
    }

    .share {
        margin-left: calc(65% + 35px);
    }
}

@media (min-width: 450px) and (max-width: 640px) {
    #page-title {
        width: auto;
    }

    .content-title {
        max-width: 75%;
    }

    #offcanvas-nav li {
        padding-left: 5px;
    }

    .small-post-width {
        width: 100% !important;
    }

    .verse-inside-padding p {
        margin-top: 0px;
    }

    .song-lyrics {
        width: 100%;
        max-width: 500px;
        padding-right: 0px;
    }

    .video-width {
        width: 100% !important;
    }

    .testimony-width, .article-width {
        width: 100%;
    }

    .testimony-image, .article-image {
        height: 1000px;
    }

    .navbutton-spacer {
        display: block;
        margin-top: 30px;
    }

    .button-grid-container {
        margin-left: 0 !important;
    }

    .error-page-title {
        top: 15vh;
    }

    .save {
        margin-left: 75%;
    }

    .share {
        margin-left: calc(75% + 35px);
    }
}

@media (min-width: 640px) {
    #page-title {
        width: auto;
    }

    .content-title {
        max-width: 600px;
    }

    #offcanvas-nav li {
        padding-left: 20px;
    }

    .small-post-width {
        width: 49% !important;
    }

    .verse-inside-padding p {
        margin-top: -10px;
    }

    .song-lyrics {
        width: 85%;
        max-width: 500px;
        padding-right: 0px;
    }

    .video-width {
        width: 70% !important;
    }

    .testimony-width, .article-width {
        width: 80%;
    }

    .testimony-image, .article-image {
        height: 1000px;
    }

    .navbutton-spacer {
        display: none;
        margin-top: 0;
    }

    .button-grid-container {
        margin-left: -30px;
    }

    .error-page-title {
        top: 25vh;
    }

    .save {
        margin-left: 73%;
    }

    .share {
        margin-left: calc(73% + 35px);
    }
}

@media (min-width: 960px) {
    .video-width {
        width: 49% !important;
    }

    .testimony-width, .article-width {
        width: 49%;
    }

    .error-page-title {
        top: 280px;
    }

    .save {
        margin-left: 80%;
    }

    .share {
        margin-left: calc(80% + 35px);
    }

    .verse-post-image {
        transform: translate(-50%,-57%) !important;
    }
}

@media (min-width: 1280px) {

    .verse-post-image {
        transform: translate(-50%,-60%) !important;
    }

}

@media (min-width: 1640px) {

    .verse-post-image {
        transform: translate(-50%,-62%) !important;
    }

}

@media (min-width: 1920px) {

    .verse-post-image {
        transform: translate(-50%,-65%) !important;
    }

}

/* Main Page Content Styles */

* {
    font-family: 'Lato', sans-serif !important;
}

#page-title {
    text-align: center
}

.uk-navbar-toggle img, svg {
    -webkit-filter: brightness(0) saturate(100%);
    filter: brightness(0) saturate(100%);
}

.navbutton {
    right: unset;
    -webkit-filter: brightness(0);
    filter: brightness(0);
}

.flip {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.nav-container {
    z-index: 10;
    position:relative;
    margin-top: -30px;
    height: 80px;
}

.main-nav {
    height: 60px;
}

.center-nav {
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.category-dropdown {
    transform: translateY(-60px);
    margin-top: -30px;
}

.button-container {
    max-width: 900px;
}

.display-flex {
    display: flex !important;
}

.inherit-width {
    width: inherit;
}

#offcanvas-nav .uk-nav-header {
    padding-top: 8px;
    height: 50px;
}

#mobilenav {
    background-color: white;
}

#mobile-nav-close {
    margin-top: 4px;
    width: 40px !important;
}

#mobile-nav-footer {
    padding: 30px !important;
}

#mobile-nav-instagram {
    padding-right: 30px;
}

#offcanvas-nav li a{
    color: black !important;
}

#fixedBottomNav {
    background-color: white !important;
    z-index: 10;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.19);
}

#privacy-link, #copyright {
    display:inline-block;
    color: black !important;
    font-size: .8rem !important;
    line-height: 1.5 !important;
}

.white-background {
    background-color: white !important
}

.button-grid-container {
    margin-top: -20px;
}

.verse-inside-padding {
    padding: 18px;
}

.border-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; 
    border-radius: 20px;
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;
}

.black {
    color:black !important;
}

.white {
    color: white !important;
}

#content {
    min-height: 40vh;
}

.content-404 {
    margin-top: -50px;
}

.verse-font-size {
    font-size: 1.4rem;
}

.no-top-margin {
    margin-top: 0px;
}

.large-bottom-margin {
    margin-bottom: 150px;
}

.category {
    z-index: 10;
    position: absolute;
    color: black;
    padding: 0;
    margin-top: -16px;
    margin-left: 34px;
    background-color: white;
    border-radius: 10px;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
}

.type {
    z-index: 10;
    position: absolute;
    color: white;
    padding: 0;
    margin-top: -16px;
    margin-left: 34px;
    background-color: black;
    border-radius: 10px;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
}

#category-content {
    background: white;
    margin-top: -25px;
}

.testimony-header, .article-header {
    z-index: 10;
    margin-top: -16px;
    background-color: transparent;
}

.blur {
    filter: blur(4px);
}

.whitesmoke-bg {
    background-color: #F5F5F5;
}

.black-bg {
    background-color: black !important;
}

.save {
    z-index: 10;
    position: relative;
    padding: 0;
    margin-top: -16px;
    background-color: white;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    width: 12px;
}

.share {
    z-index: 10;
    position: relative;
    padding: 0;
    margin-top: -27px;
    background-color: white;
    padding: 1.5px 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    width: 12px;
}

.category-button {
    padding: 10px 20px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.content-title {
    z-index: 10;
    position: absolute;
    padding-bottom: 20px;
}

.auto-side-margins {
    margin-right: auto;
    margin-left: auto;
}

.page-title {
    z-index: 10;
    padding-bottom: 40px;
    width: 80%;
    margin: 0 auto;
}

.position-center {
    right: 10% !important;
    left: 10% !important;
}

.zoomed {
    transform: scale(2) translateY(-20%) translateX(-20%);
}

.single-post-nav-button {
    z-index: 10;
}

.white-nav-button {
    filter: brightness(100) !important;
}

.single-post-nav-button img {
    margin-left: 12px;
    visibility: visible;
    filter: brightness(0);
}

#footer a {
    margin-right: 4px;
}

.footer-copyright {
    margin: 0;
    display:inline-block;
    width:80%
}

.mobile-padder {
    padding-top: 80px
}

.share img, .save img, .single-post-share img, .single-post-save img {
    height: 16.6px;
}

.share div {
    margin-left: -4px;
}

.button-divider {
    margin-top: 40px !important;
    padding: 20px;
    margin-left: 15px;
}

.active {
    background-color: #717171;
}

.pointer-cursor {
    cursor: pointer;
}
