{{ if or (eq .File.Dir "bible_verses/") (eq .File.Dir "bible_verses\\") }}
<li data-type="verse">
    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove uk-flex-middle small-post-width content-section uk-height-small uk-padding-remove">
        <div class="uk-container content-spacing">
            <div class="uk-overlay uk-light uk-text-left uk-text-bottom reference">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <h3 class="post-header black">
                        <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
                            {{ .Title }} ({{ upper .Params.version }})
                        </a>
                    </h3>
                </div>
            </div>

            <div class="uk-height-small uk-cover-container border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div class="uk-position-cover uk-flex uk-flex-top uk-light uk-text-center uk-text-secondary verse-inside-padding uk-overflow-hidden">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        {{ if le (len .Content) 120 }}
                            <p style="margin-top: 35px;">{{ .Content }}</p>
                        {{ else if le (len .Content) 130 }}
                            <p style="margin-top: 30px;">{{ .Content }}</p>
                        {{ else if le (len .Content) 140 }}
                            <p style="margin-top: 25px;">{{ .Content }}</p>
                        {{ else }}
                            <p style="margin-top: 20px;">{{ .Content }}</p>
                        {{ end }}
                    </div>
                    <div class="fadeout"></div>
                </div>
            </div>

            <div class="verse-container">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom category no-top-margin">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                            <span class="black">{{ humanize .Params.categories }}</span>
                        </a>
                    </div>
                </div>

                <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                    </div>
                </div>
                
                <a href="#" uk-toggle="target: #share-modal">
                    <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                            <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</li>
{{ end }}

{{ if or (eq .File.Dir "questions/") (eq .File.Dir "questions\\") }}
<li data-type="question">
    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove uk-flex-middle small-post-width content-section uk-height-small uk-padding-remove">
        <div class="uk-container content-spacing">
            <div class="uk-overlay uk-light uk-text-left uk-text-bottom question-post-height border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <h3 class="post-header black">
                        <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
                            {{ .Title }}
                        </a>
                    </h3>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category no-top-margin">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                        <span class="black">{{ humanize .Params.categories }}</span>
                    </a>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                </div>
            </div>

            <a href="#" uk-toggle="target: #share-modal">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                    </div>
                </div>
            </a>
        </div>
    </section>
</li>
{{ end }}

{{ if or (eq .File.Dir "songs/") (eq .File.Dir "songs\\") }}
<li data-type="song">
    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove uk-flex-middle small-post-width content-section uk-height-small uk-padding-remove">
        <div class="uk-container content-spacing">
            <div class="uk-overlay uk-light uk-text-left uk-text-bottom border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <iframe src={{ replace .Params.link "track" "embed/track" }} width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category no-top-margin">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                        <span class="black">{{ humanize .Params.categories }}</span>
                    </a>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                </div>
            </div>

            <a href="#" uk-toggle="target: #share-modal">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                    </div>
                </div>
            </a>
        </div>
    </section>
</li>
{{ end }}

{{ if or (eq .File.Dir "videos/") (eq .File.Dir "videos\\") }}
<li data-type="video">
    <section class="video uk-section uk-section-small uk-display-inline-block uk-margin-remove video-width uk-padding-remove content-section">
        <div class="uk-container border-rounded content-spacing">
            <div class="uk-height-medium uk-cover-container border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-padding-remove uk-flex uk-light white-background">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-width-1-1">
                        <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
                            <iframe class="uk-height-medium uk-width-1-1 border-rounded" src="https://www.youtube.com/embed/{{.Params.link.id}}"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </a>
                    </div>
                </div>                                    
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                        <span class="black">{{ humanize .Params.categories }}</span>
                    </a>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                </div>
            </div>

            <a href="#" uk-toggle="target: #share-modal">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                    </div>
                </div>
            </a>
        </div>
    </section>
</li>
{{ end }}

{{ if or (eq .File.Dir "articles/") (eq .File.Dir "articles\\") }}
<li data-type="article">
    <section class="article uk-section uk-section-small uk-display-inline-block uk-margin-remove article-width uk-padding-remove content-section">
        <div class="uk-container border-rounded content-spacing">
            <div class="uk-height-medium uk-cover-container border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-left uk-flex-bottom uk-light uk-text-left article-header">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        {{ $title_colour := "black" }}
                        {{ if or (eq .Params.image "uploads/book.jpg") (eq .Params.image "") }}
                        {{ else }}
                            {{ $title_colour = "white" }}
                        {{ end }}
                        <h3 class="post-header">
                            <a title="{{.Title}}" class="{{$title_colour}}" href="{{.Permalink}}">{{ .Title }}</a>
                        </h3>
                    </div>
                </div>

                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-padding-remove uk-flex-middle uk-light uk-text-left white-background">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        {{ if or (eq .Params.image "uploads/book.jpg") (eq .Params.image "") }}
                            <img class="uk-image uk-responsive-height article-image blur" data-src="{{.Site.BaseURL}}uploads/book.jpg" alt="{{ .Title }}" uk-img>
                        {{ else }}
                            <img class="uk-image uk-responsive-height article-image" data-src="{{.Site.BaseURL}}{{.Params.image}}" alt="{{ .Title }}" uk-img>
                        {{ end }}
                    </div>
                </div>         
            </div>
            
            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                        <span class="black">{{ humanize .Params.categories }}</span>
                    </a>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                </div>
            </div>

            <a href="#" uk-toggle="target: #share-modal">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                    </div>
                </div>
            </a>
        </div>
    </section>
</li>
{{ end }}

{{ if or (eq .File.Dir "testimonies/") (eq .File.Dir "testimonies\\") }}
<li data-type="testimony">
    <section class="testimony uk-section uk-section-small uk-display-inline-block uk-margin-remove testimony-width uk-padding-remove content-section">
        <div class="uk-container border-rounded content-spacing">
            <div class="uk-height-medium uk-cover-container border-rounded uk-box-shadow-large pointer-cursor" onclick="location.href='{{.Permalink}}'">
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-left uk-flex-bottom uk-light uk-text-left testimony-header">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <h3 class="post-header white">
                            <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">{{ .Title }}</a>
                        </h3>
                    </div>
                </div>

                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-padding-remove uk-flex-middle uk-light uk-text-left white-background">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        {{ if or (eq .Params.image "uploads/sharing-the-word.jpg") (eq .Params.image "") }}
                            <img class="uk-image uk-responsive-height article-image blur" data-src="{{.Site.BaseURL}}uploads/sharing-the-word.jpg" alt="{{ .Title }} - Testimony" uk-img>
                        {{ else }}
                            <img class="uk-image uk-responsive-height article-image" data-src="{{.Site.BaseURL}}{{.Params.image}}" alt="{{ .Title }} - Testimony" uk-img>
                        {{ end }}
                    </div>
                </div>                               
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}">
                        <span class="black">{{ humanize .Params.categories }}</span>
                    </a>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle" onclick="savePost('{{ .Title }}', '{{ .Params.categories }}', '{{ .Type }}');">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                </div>
            </div>

            <a href="#" uk-toggle="target: #share-modal">
                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                    </div>
                </div>
            </a>
        </div>
    </section>
</li>
{{ end }}
{{- partial "share.html" . -}}
