<footer class="uk-section uk-section-small uk-section-muted uk-position-relative uk-position-bottom">
	<div id="footer" class="uk-container">
		<p class="uk-text-small footer-copyright">Realive Youth Copyright &copy; 2019 | <a href="{{.Site.BaseURL}}privacy">Privacy</a></p>
		<div class="uk-inline uk-align-right uk-margin-remove">
			<a href="https://www.facebook.com/groups/realive.youth" data-uk-icon="facebook" rel="nofollow" target="_blank"></a>
			<a href="https://www.instagram.com/realiveyouth/" data-uk-icon="instagram" rel="nofollow" target="_blank"></a>
		</div>
	</div>
</footer>
<div class="uk-hidden@s mobile-padder"></div>

<script src="{{.Site.BaseURL}}/js/scripts.js"></script>
<script>
	if (navigator.serviceWorker && !navigator.serviceWorker.controller) { navigator.serviceWorker.register('sw.js'); }
</script>