<header id="header" style="background-color: #fff;" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
	<div class="uk-container">
		<nav id="navbar" style="background-color: white;" data-uk-navbar="mode: click;">
			<div class="uk-navbar-left nav-overlay top-nav">
				<img class="uk-navbar-toggle navbutton uk-hidden@m" data-uk-toggle href="#offcanvas-nav"  data-src="img/Navigation.svg" width="60px" height="60px" alt="Navigate" uk-img style="filter:brightness(0)">
			</div>
			<div id="page-title" class="uk-navbar-center nav-overlay top-nav">
				<a class="uk-navbar-item uk-logo" href="{{.Site.BaseURL}}" title="Logo">Equipped Youth Manual</a>
			</div>
			<div class="uk-navbar-right nav-overlay top-nav">
					<a class="uk-navbar-toggle uk-visible@s" data-uk-search-icon data-uk-toggle="target: .top-nav; animation: uk-animation-fade" href="#"></a>
				<div class="uk-navbar-item uk-visible@s">
					<a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="facebook"></a>
					<a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="twitter"></a>
					<a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="instagram"></a>
				</div>
				
			</div>
			<div class="nav-overlay uk-navbar-left uk-flex-1 top-nav" hidden>
				<div class="uk-navbar-item uk-width-expand">
					<form class="uk-search uk-search-navbar uk-width-1-1" action="{{.Site.BaseURL}}/search/" onsubmit="this.search.value">
						<input class="uk-search-input" type="search" name="s" placeholder="Search...">
					</form>
				</div>
				<a class="uk-navbar-toggle" data-uk-close data-uk-toggle="target: .top-nav; animation: uk-animation-fade" href="#"></a>
			</div>
		</nav>
	</div>
</header>