<nav class="uk-navbar-container uk-position-fixed uk-position-bottom uk-margin" style="z-index: 10;">
    <div class="uk-navbar-left">
        <div class="">
            <div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                        
                </ul>
            </div>
                </div> 
                    <div class="uk-navbar-right">
                        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
                        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: -200">
                            <form class="uk-search uk-search-navbar uk-width-1-1">
                                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="uk-navbar-center">
                    <div>
                        <img class="uk-image uk-active" href="#" data-src="img/Save.svg" width="20px" height="20px" alt="Save" uk-img>
                    </div>

                </div>
        </div>
    </div>
</nav>