<nav id="fixedBottomNav" class="uk-navbar-container uk-position-fixed uk-position-bottom uk-hidden@s" style="z-index: 10;">
    <div class="uk-navbar">
        <div class="nav-overlay uk-navbar-left bottom-nav">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{{.Site.BaseURL}}">Home</a></li>  
            </ul>
        </div> 
        <div class="nav-overlay uk-navbar-right bottom-nav">
            <div id="savedPostsButton">
                <a href="{{.Site.BaseURL}}/saved"><img class="uk-image uk-active" href="#" data-src="img/Save.svg" width="16.6px" height="16.6px" alt="Save" uk-img></a>
            </div>
            <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .bottom-nav; animation: uk-animation-fade" href="#" onclick="hideSavedPostsButton()"></a>
        </div>

        <div class="nav-overlay uk-navbar-left uk-flex-1 bottom-nav" hidden>
            <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1" action="{{.Site.BaseURL}}/search/" onsubmit="this.search.value">
                    <input class="uk-search-input" type="search" name="s" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .bottom-nav; animation: uk-animation-fade" href="#" onclick="hideSavedPostsButton()"></a>
        </div>
    </div>
</nav>