<div class="uk-container nav-container uk-visible@s">
	<nav class="main-nav center-nav" uk-navbar>
		<ul class="uk-subnav uk-navbar-nav uk-flex uk-flex-between uk-flex-nowrap inherit-width">
			<li class="uk-active"><a class="display-flex" href="{{.Site.BaseURL}}">Home</a></li>
			<li>
				<a class="display-flex" href="#">Resources</a>
				<div class="uk-navbar-dropdown category-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li><a href="{{.Site.BaseURL}}/categories/share">Share your Faith</a></li>
						<li><a href="{{.Site.BaseURL}}/categories/encourage">Encourage your Faith</a></li>
						<li><a href="{{.Site.BaseURL}}/categories/explain">Explain your Faith</a></li>
						<li><a href="{{.Site.BaseURL}}/categories/deepen">Deepen your Faith</a></li>
						<li><a href="#">Youth Group</a></li>
					</ul>
				</div>
			</li>
			<li><a class="display-flex" href="#">Music</a></li>
			<li><a class="display-flex" href="{{.Site.BaseURL}}/about">About</a></li>
			<li><a class="display-flex" href="{{.Site.BaseURL}}/contact">Contact</a></li>
		</ul>
	</nav>
</div>