<div class="uk-container">
	<nav class="nav-scroll">
		<ul class="uk-subnav uk-flex uk-flex-between uk-flex-nowrap uk-visible@s">
			<li class="uk-active"><a href="{{.Site.BaseURL}}">Home</a></li>
			<li><a href="{{.Site.BaseURL}}/categories/evangelism">Evangelism</a></li>
			<li><a href="{{.Site.BaseURL}}/categories/christian-living">Christian Living</a></li>
			<li><a href="{{.Site.BaseURL}}/categories/worship">Worship</a></li>
			<li><a href="{{.Site.BaseURL}}/about">About</a></li>
			<li><a href="{{.Site.BaseURL}}/contact">Contact</a></li>
		</ul>
	</nav>
</div>