<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    {{- partial "head.html" . -}}
    <title>Page Not Found - Realive Equipped Youth Manual</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/content.css" type="text/css"/>
</head>
<body>
    <span class="uk-visible@s">{{- partial "header.html" . -}}</span>
    
    {{- partial "navigation.html" . -}}

    <!-- Header Image -->
    <div class="uk-cover-container uk-width-1-1 uk-height-large black-bg">
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-center">
            <div class="uk-position-top uk-overlay uk-padding-remove single-post-nav-button uk-hidden@s">
                <img class="uk-navbar-toggle navbutton white-nav-button uk-hidden@s" data-uk-toggle href="#offcanvas-nav"  data-src="{{.Site.BaseURL}}/img/Navigation.svg" width="60px" height="60px" alt="Navigate" uk-img>
            </div>
        </div>
    </div>

    <div class="uk-align-center uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-margin-remove-top uk-flex uk-flex-bottom single-content-container">
        <div class="content-title error-page-title auto-side-margins" data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
            <!-- Page Title -->
            <h1 class="uk-margin-top uk-text-center uk-margin-small-bottom uk-margin-remove-adjacent white">404</h1>
        </div>

        <div class="content-title error-page-subtitle auto-side-margins" data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
            <!-- Page Title -->
            <h1 class="uk-margin-top uk-text-center uk-margin-small-bottom uk-margin-remove-adjacent white">Page Not Found</h1>
        </div>
    </div>

    {{- partial "share.html" . -}}
  
    <div id="content" class="uk-flex uk-flex-center uk-flex-column content-404">
        <p class="auto-side-margins"> The page you were looking for does not exist. </p>
        <button class="uk-button uk-button-secondary auto-side-margins return-back-button" onclick="window.history.back()"> Return back </button>
    </div>
  
    {{- partial "mobilenav.html" . -}}
    {{- partial "offcanvas.html" . -}}
    {{- partial "footer.html" . -}}

    <script>
      if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
          if (!user) {
          window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
          });
          }
      });
      }
    </script>
</body>
</html>