{{ define "metadata" }}
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Realive Equipped Youth Manual</title>
{{ end }}
{{ define "main" }}
    <!-- HERO -->
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-height-large uk-cover-container uk-border-rounded" style="border-radius: 40px">
                <img src="https://picsum.photos/1300/500/?random" alt="Alt img" data-uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-center">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <a href="{{ .Site.BaseURL }}/questions/how-can-i-tell-others">
                            <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">How can I tell others about Jesus?</h1>
                        </a>
                        <p>Here are some practical tips for sharing your faith with others.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--CONTENT-->
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid uk-text-center" data-ukgrid>
                <div id="home-content" class="uk-width-2-4@m">
                {{.Content}}
                {{range where .Site.RegularPages "Type" "in" site.Params.mainSections}}
                    {{- partial "content_types.html" . -}}
                {{end}}
                </div>
            </div>
        </div>
    </div>
    <!--/CONTENT-->
{{ end }}