<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Equipped Youth Manual</title>
    {{ partial "head.html"}}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
	<!--HEADER-->
	{{ partial "header.html" . }}
    <!--/HEADER-->

    <!-- NAVIGATION -->
	{{ partial "navigation.html" . }}
    <!-- /NAVIGATION -->

    <!-- HERO -->
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-height-large uk-cover-container uk-border-rounded" style="border-radius: 40px">
                <img src="https://picsum.photos/1300/500/?random" alt="Alt img" data-uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-light uk-text-center">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">How can I tell others about Jesus?</h1>
                        <p>Here are some practical tips for sharing your faith with others.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--CONTENT-->
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid uk-text-center" data-ukgrid>
                <div class="uk-width-2-4@m">
				{{.Content}}
                {{range where .Site.RegularPages "Type" "in" site.Params.mainSections}}
                    {{ if or (eq .File.Dir "bible_verses/") (eq .File.Dir "bible_verses\\") }}
                    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove verse-width">
                        <div class="uk-container content-spacing">

                            <div class="uk-overlay uk-light uk-text-left uk-text-bottom reference">
                                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                    <h3 class="post-header black">
                                        <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
                                            {{ .Title }} ({{ upper .Params.version }})
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="uk-height-small uk-cover-container border-rounded uk-box-shadow-large">
                                <div class="uk-position-cover uk-flex uk-flex-top uk-light uk-text-center uk-text-secondary verse-inside-padding uk-overflow-hidden">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        {{ if le (len .Content) 120 }}
                                            <p style="margin-top: 35px;">{{ .Content }}</p>
                                        {{ else if le (len .Content) 130 }}
                                            <p style="margin-top: 30px;">{{ .Content }}</p>
                                        {{ else if le (len .Content) 140 }}
                                            <p style="margin-top: 25px;">{{ .Content }}</p>
                                        {{ else }}
                                            <p style="margin-top: 20px;">{{ .Content }}</p>
                                        {{ end }}
                                    </div>
                                    <div class="fadeout"></div>
                                </div>
                                
                            </div>
                            <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                    <span style="color:black">{{ humanize .Params.categories }}</span>
                                </div>
                            </div>

                            <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle">
                                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                    <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                                </div>
                            </div>

                            <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                    <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                                </div>
                            </div>
                        </div>
                    </section>
                    {{ end }}
                    {{ if or (eq .File.Dir "videos/") (eq .File.Dir "videos\\") }}
                    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove video-width">
                            <div class="uk-container content-spacing">
                                <div class="uk-height-medium uk-cover-container border-rounded uk-box-shadow-large">
                                    <div class="uk-overlay uk-overlay-primary uk-position-cover uk-padding-remove uk-flex uk-light white-background">
                                        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-width-1-1">
                                            <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
                                                <iframe class="uk-height-medium uk-width-1-1 border-rounded" src="https://www.youtube.com/embed/{{.Params.link.id}}"
                                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </a>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <span style="color:black">{{ humanize .Params.categories }}</span>
                                    </div>
                                </div>

                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                                    </div>
                                </div>
        
                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {{ end }}
                    {{ if or (eq .File.Dir "testimonies/") (eq .File.Dir "testimonies\\") }}
                    <section class="uk-section uk-section-small uk-display-inline-block uk-margin-remove testimony-width">
                            <div class="uk-container content-spacing">
                                <div class="uk-height-medium uk-cover-container border-rounded uk-box-shadow-large">
                                    <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-left uk-flex-bottom uk-light uk-text-left testimony-header">
                                        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                            <h3 class="post-header white">
                                                <a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">{{ .Title }}</a>
                                            </h3>
                                        </div>
                                    </div>      
                                    <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-padding-remove uk-flex-middle uk-light uk-text-left white-background">
                                            <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                                <img class="uk-image uk-responsive-height testimony-image" href="{{.Permalink}}" data-src="{{.Params.image}}" alt="{{ .Title }}'s Testimony" uk-img>
                                            </div>
                                        </div>                               
                                </div>
                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom category">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <a title="{{humanize .Params.categories}}" class="uk-link-reset" href="{{.Site.BaseURL}}categories/{{.Params.categories}}"><span style="color:black">{{ humanize .Params.categories }}</span></a>
                                    </div>
                                </div>

                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom save uk-border-circle">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <img class="uk-image" href="#" data-src="img/Save.svg" width="60px" height="60px" alt="Save" uk-img>
                                    </div>
                                </div>
        
                                <div class="uk-overlay uk-light uk-text-left uk-text-bottom share uk-border-circle">
                                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                                        <img class="uk-image" href="#" data-src="img/Share.svg" width="60px" height="60px" alt="Share" uk-img>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {{ end }}
                {{end}}
				</div>
            </div>
        </div>
    </div>
    <!--/CONTENT-->

    <!-- BOTTOM NAVIGATION -->

    <div class="uk-container" uksticky>
		<nav id="mobilenav">
			<div class="uk-navbar-left nav-overlay">
				<!-- <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>-->
				<a class="uk-navbar-item" href="#" title="Home">Home</a>
			</div>
			<div class="uk-navbar-right nav-overlay">
					<a class="uk-navbar-toggle" data-uk-search-icon data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
			</div>
			<div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
				<div class="uk-navbar-item uk-width-expand">
					<form class="uk-search uk-search-navbar uk-width-1-1">
						<input class="uk-search-input" type="search" placeholder="Search...">
					</form>
				</div>
				<a class="uk-navbar-toggle" data-uk-close data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
			</div>
		</nav>
    </div>

    <!-- /BOTTOM NAVIGATION -->

    <!-- OFFCANVAS -->
	{{ partial "offcanvas.html" . }}
    <!-- /OFFCANVAS -->

    <!--FOOTER-->
	{{ partial "footer.html" . }}
    <!--/FOOTER-->

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>