<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Equipped Youth Manual</title>
    {{ partial "head.html"}}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
	<!--HEADER-->
	{{ partial "header.html" . }}
    <!--/HEADER-->

    <!-- NAVIGATION -->
	{{ partial "navigation.html" . }}
    <!-- /NAVIGATION -->

    <!-- HERO -->
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-height-large uk-cover-container uk-border-rounded" style="border-radius: 40px">
                <img src="https://picsum.photos/1300/500/?random" alt="Alt img" data-uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                        <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">How can I tell others about Jesus?</h1>
                        <p>Here are some practical tips for sharing your faith with others.</p>
                        <a href="questions/how-can-i-tell-others" class="uk-button uk-button-default uk-margin-top">GO TO POST</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!--CONTENT-->
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid" data-ukgrid>
                <div class="uk-width-2-3@m">
				{{.Content}}
                {{range where .Site.RegularPages "Type" "in" site.Params.mainSections}}
                    <article class="uk-section uk-section-small uk-padding-remove-top">
                        <header>
                            <h2 class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom">
								<a title="{{.Title}}" class="uk-link-reset" href="{{.Permalink}}">
								{{.Title}}
								</a>
							</h2>
                        </header>
                    </article>
                {{end}}
				</div>
                <div class="uk-width-1-3@m">
                    <h4 class="uk-heading-line uk-text-bold" style="text-align:center"><span>About Us</span></h4>
                    <div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
                        The Realive Equipped Youth Manual is an online resource to enable young people to live, serve and to tell others about Jesus.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/CONTENT-->

    <!-- BOTTOM NAVIGATION -->

    <div class="uk-container" uksticky>
		<nav id="mobilenav" style="background-color: white;">
			<div class="uk-navbar-left nav-overlay">
				<!-- <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>-->
				<a class="uk-navbar-item" href="#" title="Home">Home</a>
			</div>
			<div class="uk-navbar-right nav-overlay">
					<a class="uk-navbar-toggle" data-uk-search-icon data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
			</div>
			<div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
				<div class="uk-navbar-item uk-width-expand">
					<form class="uk-search uk-search-navbar uk-width-1-1">
						<input class="uk-search-input" type="search" placeholder="Search...">
					</form>
				</div>
				<a class="uk-navbar-toggle" data-uk-close data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
			</div>
		</nav>
    </div>

    <!-- /BOTTOM NAVIGATION -->

    <!-- OFFCANVAS -->
	{{ partial "offcanvas.html" . }}
    <!-- /OFFCANVAS -->

    <!--FOOTER-->
	{{ partial "footer.html" . }}
    <!--/FOOTER-->

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>